html {
	font-size: 100%;
	-moz-text-size-adjust: none; 
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
	font-family: "Times New Roman", Times, serif;
}
body {
	margin: 0;
	padding: 0;
}
a:not([name]) {
	color: #D03464;
	text-decoration: none;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
figcaption {
	font-style: italic;
	color: #666;
	text-align: center;
	margin: 0.5em 0;
}
#video-wrapper {
	height: 640px;
	overflow: hidden;
	position: relative;
}
#video-wrapper .background {
	position: absolute;
	z-index: -101;
	background-color: #000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
video {
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background-size: cover;
	opacity: 0;
	display: block;
}
@media only screen and (max-width: 900px) {
	video { 
		display: none; 
	}
	#video-wrapper .background {
		background: transparent url('/images/backdrop.jpg') no-repeat;
	}
}
.invisible {
	filter: alpha(opacity=0);
	opacity: 0;
}
.social-media-icon {
	height: 40px;
	width: 40px;
	display: inline-block;
	background: url('/images/social-pink.png') no-repeat center center;
}
#facebook.social-media-icon {
	background-position: 0 0;
}
#instagram.social-media-icon {
	background-position: -80px 0;
}
#pinterest.social-media-icon {
	background-position: -40px 0;
}
#twitter.social-media-icon {
	background-position: -120px 0;
}
#flickr.social-media-icon {
	background-position: -160px 0;
}
.transitionable-opacity {
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}
#header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 5px 80px;
	z-index: 99999;
}
#header .background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	background: -webkit-linear-gradient(bottom,rgba(102,102,102,0),rgba(102,102,102,0.3)); /*Safari 5.1-6*/
	background: -o-linear-gradient(top,rgba(102,102,102,0),rgba(102,102,102,0.3)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(top,rgba(102,102,102,0),rgba(102,102,102,0.3)); /*Fx 3.6-15*/
	background: linear-gradient(to top, rgba(102,102,102,0), rgba(102,102,102,0.3)); /*Standard*/
}
#header .wrapper {
	position: relative;
	z-index: 1000;
}
#logo {
	background: transparent url('/images/logo-004.png') no-repeat center center;
	display: inline-block;
	font-style: italic;
	height: 102px;
	width: 407px;
	background-position: 0 0;
	float: left;
}
#header.alternate {
	position: fixed;
	backface-visibility: hidden;
}
#header.alternate .background {
	background: none rgba(255,255,255,0.95);
	box-shadow: 1px 1px 2px #CCC;
	border-bottom: 0 none;
}
#header.alternate #logo {
	background-position: 0 -102px;
	height: 64px;
	width: 205px;
}
#header.alternate ul li {
	color: #000;
}
#header.alternate h1 {
	display: none;
}
#header ul {
	margin: 0;
	list-style-type: none;
}
#header ul li {
	display: inline;
	padding-left: 20px;
	height: 60px;
	line-height: 60px;
	text-transform: uppercase;
	font-family: "nimbus-sans", sans-serif;
	font-weight: bold;
	color: #EAE9B8;
}
#header ul li a {
	vertical-align: middle;
}
#header ul.social-media {
	padding: 0 0 0 30px;
}
#header ul.social-media li {
	padding-left: 10px;
}
#header .menu-toggle-wrapper {
	display: none;
	float: right;
	height: 60px;
	width: 40px;
}
#header .menu-toggle {
	height: 35px;
	width: 40px;
	background: transparent url('/images/icon-menu-toggle.png') no-repeat center center;
	display: block;
	padding-top: 25px;
}
#header .menu-wrapper {
	float: right;
	height: auto;
	clear: none;
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-ms-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
}
#header h1 {
	color: #EAE9B8;
	font-size: 1em;
	font-family: "nimbus-sans", sans-serif;
	margin-top: 0;
	float: left;
	clear: left;
}
#splash {
	position: absolute;
	z-index: 1000;
	top: 140px;
	left: 80px;
}
#splash .background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #333;
	z-index: 999;
	opacity: 0.8;
	border-radius: 3px;
}
#splash .wrapper {
	position: relative;
	z-index: 1001;
	padding: 20px;
}
#splash .intro-short {
	display: none;
}
#splash p, #splash i {
	color: #EAE9B8;
	text-shadow: 1px 1px 2px #333;
	font-size: 1.250em;
}
#splash p {
	vertical-align: top;
	font-size: 1em;
	max-width: 600px;
}
#splash .button-wrapper p {
	display: inline-block;
	margin: 0 20px 0 0;
}
#splash .button-wrapper button {
	background-color: #F2AB30;
	padding: 15px;
	border-radius: 3px;
	border: 1px solid #EBEBEB;
	color: #EAE9B8;
	font-weight: 700;
	min-width: 120px;
	-webkit-appearance: none;
	text-transform: uppercase;
	font-size: 1.250em;
}
#splash .button-wrapper button:disabled {
	display: none;
}
#coffee-trailer {
	width: 100%;
}
.row {
	clear: both;
	width: 100%;
}
.col-wrapper {
	padding: 0 80px;
}
.col-single,.col-multi {
	padding: 0 20px 0 0;
	float: left;
}
.col-single {
	width: calc(100% - 20px);
}
.col-multi {
	width: calc(33.33% - 20px);
}
div.col-multi:nth-of-type(3n + 4) {
	clear: left;
}
.col-wrapper h2,.col-wrapper h3 {
	
	font-family: "nimbus-sans", sans-serif;
}
.col-wrapper h2 {
	padding-top: 80px;
}
.team-picture {
	max-width: 120px;
	width: 50%;
	margin: 0 10px 10px 0;
	float: left;
}
#team h3 {
	margin-bottom: 0;
}
input[type="text"],
input[type="email"],
textarea {
	width: calc(100% - 30px);
	margin: 0 0 10px 0;
	padding: 15px;
	border-radius: 3px;
	border: solid 1px #CCC;
	display: block;
	-webkit-appearance: none;
	outline: 0;
	
}
input[type="submit"] {
	background-color: #D03464;
	padding: 15px;
	border-radius: 3px;
	border: solid 1px #EBEBEB;
	color: #EAE9B8;
	font-weight: bold;
	min-width: 120px;
	-webkit-appearance: none;
	float: right;
}
input[type="submit"]:disabled {
	background-color: #CCC;
}
input,
textarea {
	font-family: "nimbus-sans",sans-serif;
	font-size: 1.167em;
}
#footer {
	padding: 80px 80px 20px;
	font-family: "nimbus-sans",sans-serif;
	font-size: 0.825em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	.social-media-icon {
		background: url('/images/social-pink@2x.png') no-repeat center center;
		background-size: 199px 40px;
	}
	#logo {
		background: transparent url('/images/logo-004@2x.png') no-repeat center center;
		background-position: 0 0;
		background-size: 407px 160px;
	}
	#header .menu-toggle {
		background: transparent url('/images/icon-menu-toggle@2x.png') no-repeat center center;
		background-size: 40px 35px;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min--moz-device-pixel-ratio: 3),
only screen and (-o-min-device-pixel-ratio: 3/1),
only screen and (min-device-pixel-ratio: 3),
only screen and (min-resolution: 3dppx) {
	.social-media-icon {
		background: url('/images/social-pink@3x.png') no-repeat center center;
		background-size: 199px 40px;
	}
	#logo {
		background: transparent url('/images/logo-004@3x.png') no-repeat center center;
		background-position: 0 0;
		background-size: 407px 160px;
	}
	#header .menu-toggle {
		background: transparent url('/images/icon-menu-toggle@3x.png') no-repeat center center;
		background-size: 40px 35px;
	}
}
@media only screen and (min-width: 300px) {
	#header {
		padding: 5px 10px;
	}
	#logo {
		height: 64px;
		width: 205px;
		background-position: -207px -102px;
	}
	#header .background {
		background: none #333;
		border-bottom: solid 1px #516175;
	}
	#header .menu-toggle-wrapper {
		display: inline-block;
	}
	#header .menu-wrapper {
		height: 0;
		float: none;
		overflow: hidden;
		clear: both;
	}
	#header ul {
		margin: 0;
		padding: 0;
		height: auto;
		list-style-type: none;
		line-height: 40px;
		float: none;
		display: inherit;
	}
	#header ul.social-media {
		padding: 0;
	}
	#header ul li {
		margin-left: 0;
		padding-left: 0;
		height: 40px;
		line-height: 40px;
	}
	#header ul.menu li {
		display: inherit;
	}
	#header ul.social-media li:first-child {
		display: inherit;
	}
	#header ul.social-media li {
		padding-left: 0;
	}
	#header h1 {
		position: absolute;
		top: 75px;
	}
	#splash {
		position: absolute;
		z-index: 1000;
		margin-left: -150px;
		width: 300px;
		left: 50%;
	}
	#splash .intro-short {
		display: block;
	}
	#splash .intro-long {
		display: none;
	}
	#footer {
		padding: 80px 10px 10px;
	}
	.col-wrapper {
		padding: 0 10px;
	}
	.col-multi {
		width: calc(100% - 20px);
	}
@media only screen and (min-width: 900px) {
	#header {
		padding: 5px 10px;
	}
	#logo {
		height: 102px;
		width: 407px;
		background-position: 0 0;
	}
	#header .background {
		border-bottom: 0 none;
		background: -webkit-linear-gradient(bottom,rgba(102,102,102,0),rgba(102,102,102,0.3)); /*Safari 5.1-6*/
		background: -o-linear-gradient(top,rgba(102,102,102,0),rgba(102,102,102,0.3)); /*Opera 11.1-12*/
		background: -moz-linear-gradient(top,rgba(102,102,102,0),rgba(102,102,102,0.3)); /*Fx 3.6-15*/
		background: linear-gradient(to top, rgba(102,102,102,0), rgba(102,102,102,0.3)); /*Standard*/
	}
	#header h1 {
		position: initial;
	}
	#splash {
		top: 140px;
		left: 80px;
		margin-left: 0;
		width: auto;
	}
	#splash .intro-short {
		display: none;
	}
	#splash .intro-long {
		display: block;
	}
	#footer {
		padding: 80px 10px 10px;
	}
	.col-wrapper {
		padding: 0 10px;
	}
	.col-multi {
		width: calc(33.33% - 20px);
	}
	#header .menu-toggle-wrapper {
		display: none;
	}
	#header .menu-wrapper {
		float: right;
		height: auto !important;
		clear: none;
	}
	#header ul {
		display: inline;
	}
	#header ul li {
		display: inline;
		padding-left: 20px;
		height: 60px;
		line-height: 60px;
		color: #EAE9B8;
	}
	#header ul.menu li,#header ul.social-media li:first-child {
		display: inline;
	}
	#header ul.social-media {
		padding: 0 0 0 30px;
	}
	#header ul.social-media li {
		padding-left: 10px;
	}
}
@media only screen and (min-width: 1200px) {
	#header {
		padding: 5px 80px;
	}
	#footer {
		padding: 80px 80px 20px;
	}
	.col-wrapper {
		padding: 0 80px;
	}
}